Repository benc-uk/batcomputer: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/batcomputer-build-api.yml, pipelines/batcomputer-training.yml, pipelines/titanic-build-api.yml, pipelines/titanic-training.yml, pipelines/train-titanic-model.yaml

Path conditions:
  pipelines/batcomputer-build-api.yml: any of: model-api, pipelines/batcomputer-build-api.yml
  pipelines/batcomputer-training.yml: any of: training/scikit-batcomputer.py, pipelines/batcomputer-training.yml, aml/run-training.py
  pipelines/titanic-build-api.yml: any of: model-api, pipelines/titanic-build-api.yml
  pipelines/titanic-training.yml: any of: training/scikit-titanic.py, pipelines/titanic-training.yml, aml/run-training.py
  pipelines/train-titanic-model.yaml: any of: notebooks

Helm chart update for static certs
  kubernetes/helm/release-values.yaml
Due: none

Added matplotlib plot of crimes to outputs
  training/scikit-batcomputer.py
Due: pipelines/batcomputer-training.yml

Added model version to ARM params
  pipelines/batcomputer-build-api.yml
  pipelines/titanic-build-api.yml
Due: pipelines/batcomputer-build-api.yml, pipelines/titanic-build-api.yml

Added ARM parameters for release
  azure/aci-arm-template/azuredeploy.release-params.json
Due: none

Add matplotlib to Conda for AML compute
  aml/run-training.py
Due: pipelines/batcomputer-training.yml, pipelines/titanic-training.yml

Adding model version output to Helm and ARM
  azure/aci-arm-template/azuredeploy.json
  kubernetes/helm/batcomputer/templates/NOTES.txt
Due: none

Typo in Helm notes vso task.setvariable MODEL_VER
  kubernetes/helm/batcomputer/templates/NOTES.txt
Due: none

Using model-ver.sh script to transfer version num
  kubernetes/helm/release-values.yaml
  pipelines/batcomputer-build-api.yml
Due: pipelines/batcomputer-build-api.yml

Helm notes fixes for certName
  kubernetes/helm/batcomputer/templates/NOTES.txt
Due: none

Removed ARM param file no longer needed
  azure/aci-arm-template/azuredeploy.release-params.json
Due: none

Notes updates
  kubernetes/helm/batcomputer/templates/NOTES.txt
Due: none

Removed old stages from build pipelines YAML
  pipelines/batcomputer-build-api.yml
  pipelines/titanic-build-api.yml
  readme.md
Due: pipelines/batcomputer-build-api.yml, pipelines/titanic-build-api.yml

Enabled pull request builds on training pipeline
  pipelines/batcomputer-build-api.yml
  pipelines/batcomputer-training.yml
  pipelines/titanic-build-api.yml
  pipelines/titanic-training.yml
Due: pipelines/batcomputer-build-api.yml, pipelines/batcomputer-training.yml, pipelines/titanic-build-api.yml, pipelines/titanic-training.yml

Update scikit-batcomputer.py
  training/scikit-batcomputer.py
Due: pipelines/batcomputer-training.yml

Modify PR triggers for pipelines
  pipelines/batcomputer-data-load.yml
  pipelines/batcomputer-training.yml
  pipelines/titanic-build-api.yml
  pipelines/titanic-data-load.yml
  pipelines/titanic-training.yml
Due: pipelines/batcomputer-training.yml, pipelines/titanic-build-api.yml, pipelines/titanic-training.yml

Testing branch changes
  readme.md
Due: none

Made the code more betterer
  training/scikit-batcomputer.py
Due: pipelines/batcomputer-training.yml

This is better
  training/scikit-batcomputer.py
Due: pipelines/batcomputer-training.yml

PR triggers for build pipeline
  pipelines/batcomputer-build-api.yml
Due: pipelines/batcomputer-build-api.yml

Also changed this
  pipelines/batcomputer-build-api.yml
Due: pipelines/batcomputer-build-api.yml

Changed number of estimators
  training/scikit-batcomputer.py
Due: pipelines/batcomputer-training.yml

Changed estimators again
  training/scikit-batcomputer.py
Due: pipelines/batcomputer-training.yml

Changed default estimators for demo
  training/scikit-batcomputer.py
Due: pipelines/batcomputer-training.yml

Demo change
  training/scikit-batcomputer.py
Due: pipelines/batcomputer-training.yml

Removed pull request options from pipelines
  pipelines/batcomputer-build-api.yml
  pipelines/batcomputer-training.yml
Due: pipelines/batcomputer-build-api.yml, pipelines/batcomputer-training.yml

Change for demo
  training/scikit-batcomputer.py
Due: pipelines/batcomputer-training.yml

Hidden message added to bat client
  batclient/index.html
  batclient/js/main.js
Due: none

Updated esitmators for demo
  training/scikit-batcomputer.py
Due: pipelines/batcomputer-training.yml

Updated slides
  docs/Project Bat Computer.pdf
Due: none

Added job descriptions to main pipelines
  etc/test-api.http
  pipelines/batcomputer-build-api.yml
  pipelines/batcomputer-training.yml
Due: pipelines/batcomputer-build-api.yml, pipelines/batcomputer-training.yml

Update YAML pipelines with newer pool definition
  pipelines/batcomputer-build-api.yml
  pipelines/batcomputer-data-load.yml
  pipelines/batcomputer-training.yml
Due: pipelines/batcomputer-build-api.yml, pipelines/batcomputer-training.yml

Create deploy-functions.yml
  .github/workflows/deploy-functions.yml
Due: none

deploy github
  .github/workflows/deploy-functions.yml
Due: none

updated gh action deploy
  .github/workflows/deploy-functions.yml
Due: none

lol i dunno
  .github/workflows/deploy-functions.yml
Due: none

Still trying to deploy with GH Actions
  .github/workflows/deploy-functions.yml
Due: none

updated function
  .gitignore
  .vscode/settings.json
  model-api-functions/.funcignore
  model-api-functions/modelPredict/function.py
  model-api-functions/models/metadata.json
  model-api-functions/proxies.json
Due: none

lib/ was in gitignore, go figure
  .gitignore
  model-api-functions/lib/predictor.py
Due: none

More actions fun
  .github/workflows/deploy-functions.yml
  .gitignore
  model-api-functions/models/metadata.json
Due: none
